.intro {
    color: var(--text-color-white);
    font-family: var(--text-font-family-main-condensed);
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: bottom;
    position: relative;
    background-image: url('../images/bg-img.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    padding: 0;
}

.intro::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #212121;
    opacity: 0.5;
    z-index: 1;
}

.intro>* {
    z-index: 2;
}

.intro__carousel_text {
    font-family: var(--text-font-family-main-condensed);
    font-size: 24px;
    font-weight: 400;
}

.intro_text_wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
}

.main_title {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    font-family: var(--text-font-family-main-condensed);
    font-weight: 400;
    font-size: 96px;
    line-height: 96px;
    letter-spacing: 2px;
    text-align: center;
    vertical-align: bottom;
    text-transform: uppercase;
    padding-top: 100px;
    margin: 0;
}

.read_more_btn {
    margin-top: 10px;
    margin-bottom: 150px;
    background-color: var(--background-color-dark);
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 400;
    font-family: var(--text-font-family-other);
    color: var(--text-color-white);
    width: 200px;
    height: 50px;
}

.read_more_btn:hover {
    background-color: var(--background-button-color);
    color: var(--text-color-button-hover-white);
}

.intro__carousel .owl-dots {
    position: absolute;
    bottom: -155px;
    left: 50%;
    transform: translateX(-50%);
}

.intro .intro__carousel .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background-color: var(--background-button-color);
    transition: opacity .2s ease;
    border-radius: 30px;
}

.intro .intro__carousel .owl-dot.active span {
    background-color: transparent;
    border: 1px solid #fff;
}

.intro__carousel {
    width: 100%;
}

.intro .intro__carousel .owl-nav {
    position: absolute;
    display: flex;
    right: 0;
    width: 70px;
    margin: 0;
    top: -200%;
    height: 141px;
    flex-direction: column;
    justify-content: space-between;
}

.intro .owl-carousel .owl-nav button.owl-next,
.intro .owl-carousel .owl-nav button.owl-prev {
    margin: 0;
    border-radius: 0;
    background-color: var(--background-color-dark);
    width: 100%;
    height: 70px;
}

.intro .owl-carousel .owl-nav button.owl-next:hover,
.intro .owl-carousel .owl-nav button.owl-prev:hover {
    background: var(--background-button-color);
}

.intro .owl-carousel .owl-nav button.owl-next .material-symbols-sharp,
.intro .owl-carousel .owl-nav button.owl-prev .material-symbols-sharp {
    font-size: 48px;
    color: var(--text-color-white);

}

.intro .owl-carousel .owl-nav button.owl-next:hover .material-symbols-sharp,
.intro .owl-carousel .owl-nav button.owl-prev:hover .material-symbols-sharp {
    color: var(--text-color-button-hover-white);
}
.br_1024 {
    display: none;
}
@media screen and (max-width: 1024px) {
    .title {
        font-size: 84px;
        line-height: 84px;
    }
    .br_1024 {
        display: inline;
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 60px;
        line-height: 60px;
    }
}

@media screen and (max-width: 640px) {

    .intro__carousel_text {
        display: none;
    }

    .title {
        position: relative;
        padding-bottom: 20px;
    }

    .title::after {
        content: "";
        bottom: 0;
        position: absolute;
        left: 50%;
        height: 8px;
        width: 60px;
        transform: translateX(-50%);
        background-color: var(--text-color-dark);
    }
}

@media screen and (max-width: 320px) {
    .carousel {
        padding-top: 0px;
        padding-bottom: 20px;
    }

    .title {
        font-size: 28px;
        letter-spacing: 0;
        line-height: 28px;
        padding-top: 36px;
        padding-bottom: 30px;
    }

    .read_more_btn {
        display: none;
    }

    .arrows {
        display: none;
    }
}