@import url("../css/style.css");
.recent_work {
    display: flex;
    flex-direction: column;

}
.title h1{
    font-family: var(--text-font-family-main-condensed);
    font-size: 48px;
    font-weight: 400;
    
}