.video_block {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-around;
    align-items: stretch;
}

.video_content {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    max-width: 50%;
    justify-content: space-between;
}

.video {
    border-radius: 3px;
    display: flex;
}

.video img,
img.video {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.video_title {
    font-family: var(--text-font-family-main-condensed);
    color: var(--text-color-dark);
    font-weight: 400;
    font-size: 48px;
    position: relative;
    margin-bottom: 2%;
    padding-bottom: 5%;
    margin-top: 0;
}

.video_title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 8px;
    width: 100px;
    background-color: var(--background-color-dark);
}

.video_description {
    font-family: var(--text-font-family-other);
    color: var(--text-color-gray);
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
}

.play_video_btn {
    font-family: var(--text-font-family-other);
    font-weight: 500;
    font-size: 18px;
    color: var(--text-color-button-white);
    margin-top: 10px;
    text-transform: uppercase;
    width: 230px;
    height: 60px;
    background-color: var(--background-color-dark);
    border-radius: 3px;
}

@media screen and (max-width: 1024px) {
    .video {
        width: 400px;
    }

    .video_block {
        padding-left: 5%;
    }

    .video_title {
        padding-bottom: 30px;
        margin-bottom: 20px;
    }
}


@media screen and (max-width: 768px) {
    .video_description {
        font-size: 16px;
    }

    .video {
        max-width: 270px;
        display: block;
    }

    .video_title::after {
        width: 88px;
    }

    .video_content {
        max-width: 60%;
    }

    .video_block {
        gap: 20px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 640px) {
    .video_block {
        flex-wrap: wrap;
        padding: 0;
    }

    .video_content {
        align-items: center;
        max-width: 90%;
    }

    .video_title::after {
        left: 50%;
        transform: translateX(-50%);
    }

    .video_description {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .play_video_btn {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 320px) {
    .video_block {
        padding: 20px;
    }
    .video_content {
        max-width: 100%;
    }
    .video_title::after {
        width: 45px;
    }
}